body {
  margin: 0;
  background: #f1efea;
}

.store {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22% 1fr;
      grid-template-columns: 22% 1fr;
}

.store > .products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 2em;
  height: 100vh;
  background-color: #ddd;
  grid-gap: 2em;
}

.store > .products img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.store > .products .item-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  position: relative;
  margin-left: 220%;
  width: 100%;
  -webkit-animation: slide_to_right;
          animation: slide_to_right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.store > .products .item-2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  position: relative;
  margin-left: -50%;
  width: 100%;
  -webkit-animation: show;
          animation: show;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide_to_right {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 220%;
  }
}

@keyframes slide_to_right {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 220%;
  }
}

.title {
  -webkit-animation: change_weight 1s;
          animation: change_weight 1s;
}

@-webkit-keyframes change_weight {
  0% {
  }
  100% {
    font-weight: bold;
    text-align: justify;
  }
}

@keyframes change_weight {
  0% {
  }
  100% {
    font-weight: bold;
    text-align: justify;
  }
}

.store .products {
  -webkit-animation: beating 3s infinite;
          animation: beating 3s infinite;
}

@-webkit-keyframes beating {
  0% {
    background-color: #f1efea;
  }
  100% {
    background-color: #d6d6d4;
  }
}

@keyframes beating {
  0% {
    background-color: #f1efea;
  }
  100% {
    background-color: #d6d6d4;
  }
}

.animar {
  height: 20px;
  width: 20px;
  background: #ebc52c;
  border-radius: 20%;
  -webkit-animation: alerting 2s infinite;
          animation: alerting 2s infinite;
}

@-webkit-keyframes alerting {
  0% {
    background: #b53c3c;
  }
  100% {
  }
}

@keyframes alerting {
  0% {
    background: #b53c3c;
  }
  100% {
  }
}

.menu > ul > li {
  padding: 1em 0 1em 2em;
}

.menu > ul > li:hover {
  color: #ebc52c;
}

.menu > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu > ul > li > .activo {
  background: #ebc52c;
  padding-left: 1em;
  padding-right: .5em;
  margin: 5px;
  font-weight: bold;
}

.menu > ul > li {
  margin: -5px;
}

.menu > ul > li:hover {
  cursor: pointer;
}

.menu > ul > li:hover div {
  background: #ebc52c;
  padding-left: 1em;
  padding-right: .5em;
  margin: 5px;
  width: 25px;
  cursor: pointer;
  -webkit-transition: margin .5s;
  transition: margin .5s;
}

.store > div:nth-child(3) {
  grid-column: span 3;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #52514e;
}

.store > div:nth-child(3) section h3 {
  font-size: 24px;
}

.store > div:nth-child(3) section {
  width: 30%;
  color: white;
}

.store > div:nth-child(3) section h3 span {
  font-size: 24px;
  color: #ebc52c;
}

.store > div:nth-child(4) {
  grid-column: span 3;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space;
      -ms-flex-pack: space;
          justify-content: space;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1d1e1f;
}

.is-yellow {
  background-color: #ebc52c !important;
}

.is-yellow:hover {
  color: white !important;
}
/*# sourceMappingURL=shop.css.map */